@import "tailwindcss";

:root {
  --background: #101A15;
  --textColour: #FAFAFA;
  --fadedText: #738B79; 
  --gold: #E0A419; 
  --darkGreen: #102A1C; 
  --lightGreen: #27BA5D;
}

@theme {
  --font-archivo: var(--font-archivo);
  --font-archivo-black: var(--font-archivo-black);
  --font-bebas: var(--font-bebas); 

  --color-gold: var(--gold); 
  --color-dark-green: var(--darkGreen); 
  --color-light-green: var(--lightGreen); 
  --color-text: var(--textColour);
  --color-faded: var(--fadedText); 
  --color-bg-main: var(--background);
}

@layer base {
  body {
    @apply bg-bg-main text-text;
  }
}